@page "/Criar_conta"
@using System.Net.Http
@using System.Text
@using Microsoft.AspNetCore.Components.Routing
@using System.Text.Json


<h3>Criar Conta</h3>

<div class="form-group">
    <label for="userName">Nome de Usuário:</label>
    <input id="userName" class="form-control" @bind="@novaConta.UserName" />
</div>

<div class="form-group">
    <label for="password">Senha:</label>
    <input id="password" type="password" class="form-control" @bind="@novaConta.Password" />
</div>

<div class="form-group">
    <label for="confirmPassword">Confirmar Senha:</label>
    <input id="confirmPassword" type="password" class="form-control" @bind="@confirmPassword" />
</div>

<button class="btn btn-primary" @onclick="CriarConta">Criar Conta</button>

@code {
    public Conta novaConta { get; set; } = new Conta();
    public string confirmPassword { get; set; }

    [Inject]
    public HttpClient HttpClient { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public class Conta
    {
        public string UserName { get; set; }
        public string Password { get; set; }
    }

    private async Task CriarConta()
    {
        if (novaConta.Password == confirmPassword)
        {
            var user = new User
            {
                UserName = novaConta.UserName,
                Password = novaConta.Password
            };

            var jsonContent = new StringContent(JsonSerializer.Serialize(user), Encoding.UTF8, "application/json");
            var response = await HttpClient.PostAsync("/api/user", jsonContent);

            if (response.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/Criar_Skill");
            }
            else
            {
                var errorResponse = await response.Content.ReadAsStringAsync();
                var errorMessage = JsonSerializer.Deserialize<ErrorResponse>(errorResponse)?.Message;
                // Faça o tratamento adequado do erro de acordo com a mensagem retornada
            }
        }
        else
        {
            // Senhas não coincidem
        }
    }

    public class User
    {
        public string UserName { get; set; }
        public string Password { get; set; }
    }

    public class ErrorResponse
    {
        public string Message { get; set; }
    }
}